<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.item.mapper.CategoryMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="queryByParentId" resultType="com.lego.item.domain.Category">
         SELECT * FROM tb_category WHERE 1=1
        <if test="pid !=null and pid !=''">
            and  id = #{pid}
        </if>
    </select>
</mapper>
